.servicesCarouselContainer {
  padding: 20px 20px;

  color: white;
  /* height: 800px; */
  /* background: linear-gradient(to bottom, #0d1b2a, #7a0f2c 50%, transparent 50%); */
  background: linear-gradient(to bottom, #545485 0%, #16213e 50%), transparent 50%;

}

.header {
  text-align: left;
}

.header h1 {
  font-size: 3rem;
  font-weight: bold;
  text-transform: capitalize;
}

.header p {
  font-size: 1.2rem;
  margin-top: 10px;
}

.headerLinks  {
  margin-top: 15px;
  /* text-decoration: none; */
}

.headerLinks a {
  margin-right: 20px;
  color: white;
  font-weight: bold;
  text-decoration: none;
  border-bottom: 2px solid white;
}
.headerLinks a:hover{
  border-bottom: 2px solid #7a0f2c;
  color: orange;
}
.servicesCarousel {
  margin-top: 30px;
  padding: 20px;
}

.serviceCard {
  display: flex;
  flex-direction: column;
  background: white;
  color: black;
  padding: 5px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-bottom: 10px;
}

.serviceImage {
  width: 100%;
  max-height: 200px;
  object-fit: cover; 
  border-radius: 8px;
}

.serviceContent {
  padding: 15px;
}

.serviceContent h3 {
  font-size: 1.5rem;
  font-weight: bold;
}

.serviceContent p {
  font-size: 1rem;
  margin-top: 10px;
}





/* Swiper Navigation Buttons */
:global(.swiper-button-prev),
:global(.swiper-button-next) {
  color: black !important;
}

:global(.swiper-pagination-bullet) {
  background: black !important;
  
}
